* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

/* home-page-start */

.nav-bar {
  height: 100px;
  max-height: 100px;
  background-color: rgb(3, 3, 3);
  color: white;
  text-align: left;
  display: block;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 9px hsla(0, 0%, 0%, 0.616);
}

.nav-logo {
  width: 100px;
  margin-left: 30px;
}

.navbar-nav {
  display: flex;
  text-align: right;
  justify-content: flex-end;
  list-style: none;
  align-items: baseline;
  margin-right: 30px;
}

.nav-item {
  letter-spacing: 1px;
  margin: 0 10px;
  font-size: 15px;
  text-align: right;
}

.container-nav {
  width: 100%;
  /* max-width: 1100px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.signup-btn {
  background-color: rgb(0, 255, 0);
  border-radius: 5px;
  padding: 10px 6px;
}

ul.navbar-nav > li.nav-item .signup-txt {
  color: black;
}

.nav-link {
  color: rgb(255, 255, 255);
}

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
    url(/images/home-footer.png);
  background-size: cover;
  background-position: center;
  height: 550px;
  padding: 100px 0;
}

.row-home {
  display: flex;
}

.hero-img {
  width: 500px;
  margin-left: 50px;
  margin-top: 40px;
}


.hero-span {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: rgb(255, 255, 255);
  position: inherit;
}

#hero h1 {
  font-size: 50px;
  font-weight: 200;
  color: rgb(255, 255, 255);
  margin-top: 10px;
}

.hero-p {
  font-size: 25px;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 0;
}

.hero-content {
  padding: 100px 40px;
  margin-left: 20px;
  margin-right: 5px;
}


#marketing {
  padding: 50px;
  height: 550px;
  background-color: #fff;
}

.container-marketing {
  margin: 20px;
}

.marketing-span {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: rgb(74, 74, 74);
  position: inherit;
}

#marketing h1 {
  font-size: 50px;
  margin-top: 15px;
}

.marketing-p {
  font-size: 25px;
  color: rgb(74, 74, 74);
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 0;
}

.marketing-img {
  margin-top: 65px;
}

.market-col-rt {
  margin-left: 60px;
}

.marketing-content {
  margin-top: 100px;
}

.btn-regular {
  color: rgb(0, 0, 0);
  background-color: rgb(5, 255, 47);
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

#testimonials {
  height: 600px;
  display: block;
  padding: 30px;
}

.container-testimonials {
margin-top: 90px;
}

.title-block {
  text-align: center;
}

.title-block h2 {
  font-size: 70px;
}

.title-block p {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.test-lt,
.test-rt {
  background-color: rgba(141, 141, 141, 0.221);
  border-radius: 5px;
  margin: 16px 20px 16px 20px;
  width: 50%;
  padding: 60px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.testimonial-pic {
  border-radius: 50px;
}

.testimonial-name {
  position: inherit;
  color: black;
  font-size: 25px;
  margin-left: 20px;
}

.testimonial-name-title small {
  margin-left: 20px;
  margin-top: 10px;
}
.testimonial-p {
  margin-left: 20px;
  margin-top: 10px;
}

#pricing {
  height: 600px;
  padding: 50px;
}

.container-pricing {
  margin-top: 50px;
}

/* h2.pricing-title {
  font-size: 50px;
} */

.row-pricing {
  margin-top: -5px;
  display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.demo {
  font-size: 30px;
  text-align: center;
  color: rgb(219, 213, 213);
}

.price-icon {
  text-align: center;
  font-size: 30px;
  color: rgb(101, 101, 101);
  margin-bottom: 10px;
}

.price,
.demo-time {
  font-size: 15px;
}


.pricing-p {
  margin-top: -5px;
}

.pricing-box {
  background-color: #292b2c;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.fa-circle-check {
  margin-right: 10px;
  color: rgb(101, 101, 101)
}



.pricing-li {
  list-style-type: none;
  line-height: 25px;
  margin-left: 50px;
  color: white;
}

.btn-buy,
.btn-demo,
.btn-int {
  border: 2px solid #0275d8;
  background-color: #0275d8;
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.pricing-btn {
margin-top: 25px;
margin-bottom: 15px;
}


#call-to-action {
  height: 460px;
  background-color: rgb(0, 255, 9);
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
    radial-gradient(at 40% 20%, rgb(20, 215, 65) 0px, transparent 50%),
    radial-gradient(at 80% 0%, rgb(53, 255, 31) 0px, transparent 50%),
    radial-gradient(at 0% 50%, rgb(131, 16, 193) 0px, transparent 50%),
    radial-gradient(at 80% 50%, rgb(146, 9, 220) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgb(13, 231, 13) 0px, transparent 50%),
    radial-gradient(at 80% 100%, rgb(108, 17, 187) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgb(183, 0, 255) 0px, transparent 50%);
  background-position: bottom;
  background-size: cover;
  padding: 150px 0;
  background-position: center;
}

.btn-contact {
  display: inline-flex;
  margin-top: 30px;
}

.text-center {
  color: white;
  display: block;
  text-align: center;
}

.text-center h2 {
  font-size: 50px;
}

.container-footer {
  padding: 40px;
}

footer {
  height: 300px;
  background-color: black;
}
.row-footer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.footer-ul {
  margin-top: 20px;
}

.footer-li {
  line-height: 30px;
}

.footer-li > a {
  color: rgb(0, 255, 13);
}

.footer-contact {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(0, 255, 13);
}

.footer-title {
color: white;
}

/* home-page-end */

/* project-section-start */

/* project-section-end */

/* testimonial-section-start */

.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
    text-align: center;
  }
  .container img {
    margin: auto;
    float: none;
    display: block;
  }
}

/* testimonial-section-end */

/* project-page-start */

/* project-page-end */

/* sign-in-start */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins" sans-serif;
}
body.login-body {
  display: flex;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: url(../images/login-img.webp);
}
.login-form {
  position: relative;
  width: 370px;
  height: auto;
  background: #1b1b1b;
  padding: 40px 35px 60px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: inset 0 0 1px #272727;
}
.text {
  font-size: 30px;
  color: #c7c7c7;
  font-weight: 600;
  letter-spacing: 2px;
}
.login-form {
  margin-top: 40px;
}
form .field {
  height: 50px;
  width: 270px;
  color: #868686;
  font-size: 20px;
  line-height: 50px;
  border: 1px solid #444;
  border-right: none;
  border-radius: 5px 0 0 5px;
  background: linear-gradient(#333, #222);
}
.field input,
form button {
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 19px;
  color: #868686;
  padding: 0 15px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #444;
  caret-color: #339933;
  background: linear-gradient(#333, 222);
}
input:focus {
  color: #339933;
  box-shadow: 0 0 5px rgba(red, green, blue, alpha);
  background: linear-gradient(#333933, #222922);
  animation: glow 0.8s ease-out infinite alternate;
}
@keyframes glow {
  0% {
    border-color: #339933;
    box-shadow: 0 0 5px rgba(red, green, blue, alpha),
      inset 0 0 5px rgba(red, green, blue, alpha);
  }
  100%{
    border-color: #6f6;
    box-shadow: 0 0 20px rgba(red, green, blue, alpha);
  }
}
button{
    margin-top: 30px;
    border-radius: 5px!important;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}
button:hover{
    color: #339933;
    border: 1px solid #339933;
    box-shadow: 0 0 5px rgba(0,255,0,.3),
                0 0 10px rgba(0,255,0,.2),
                0 0 15px rgba(0,255,0,.1),
                0 2px 0 black;
}
.link{
    margin-top: 25px;
    color: #868686;
}
.link a{
    color: #339933;
    text-decoration: none;
}
.link a:hover{
    text-decoration: underline;
}

/* sign-in-end */

/* sign-up-start */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  background-image: image(ashley-sign-on);
}

h1 {
  margin-top: 30px;
}

form {
  border: 2px solid #ccc;
  background-color: #fff;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  height: 450px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: rgb(255, 0, 179);
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

button[type="submit"]:hover {
  background-color: #23d4e8;
}
/* sign-up-end */

/* about-us-start */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* about-us-end */
