* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

/* home-page-start */

.nav-bar {
  height: 100px;
  max-height: 100px;
  background-color: black;
  color: white;
  text-align: left;
  display: block;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 9px hsl(180deg 0% 0% / 0.3);
}

.nav-logo {
  width: 100px;
  margin-left: 30px;
  filter: drop-shadow(
    3px 4px 4px hsl(0, 0%, 57%)
  );
}

.navbar-nav {
  display: flex;
  text-align: right;
  justify-content: flex-end;
  list-style: none;
  align-items: baseline;
  margin-right: 30px;
}

.nav-item {
  letter-spacing: 1px;
  margin: 0 10px;
  font-size: 15px;
  text-align: right;
}

.container {
  width: 100%;
  /* max-width: 1100px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.signup-btn {
  background-color: rgb(255, 0, 179);
  border-radius: 5px;
  padding: 10px 6px;
}

.nav-link {
  color: rgb(255, 255, 255);
}

#hero {
  background-image: url(/images/kenia-temp-img-1.jpg);
  background-size: cover;
  background-position: center;
  height: 550px;
  padding: 100px 0;
}

.row {
  display: flex;

}

.hero-img {
  width: 600px;
  margin-left: 50px;
}

#hero span {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: rgb(74, 74, 74);
}

#hero h1 {
  font-size: 50px;
  font-weight: 200;
  color: rgb(94, 25, 94);
  margin-top: 10px;
}

#hero p {
  font-size: 25px;
  color: rgb(74, 74, 74);
  margin-top: 10px;
  margin-bottom: 25px;
}

.hero-content {
  padding: 100px 40px;
  margin-left: 20px;
  margin-right: 5px;
}

#marketing {
  padding: 100px 100px;
  height: 550px;
}

#marketing span {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: rgb(74, 74, 74);
}

#marketing h1 {
  font-size: 50px;
  font-weight: 200;
  color: rgb(94, 25, 94);
  margin-top: 10px;
}

#marketing p {
  font-size: 25px;
  color: rgb(74, 74, 74);
  margin-top: 10px;
  margin-bottom: 25px;
}

.marketing-content {
  padding: 90px 40px;
  margin-left: -10px;
  margin-right: 5px;
}

.btn-regular {
  color: white;
  background-color: rgb(255, 0, 179);
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow:
  0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075)
;
}

.marketing-img {
  padding-top: 100px;
}

#testimonials {
  height: 550px;
  background-color: rgb(249, 0, 0);
}

#pricing {
  height: 550px;
}

#call-to-action {
  height: 460px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
    url(/images/kenia-temp-img-6.png);
  background-position: bottom;
  background-size: cover;
  padding: 100px 0;
}

.text-center {
  color: white;
  display: block;
  text-align: center;
}

.text-center h2 {
  font-size: 50px;
}


/* home-page-end */

/* project-section-start */

/* project-section-end */

/* testimonial-section-start */

/* testimonial-section-end */

/* project-page-start */

/* project-page-end */

/* sign-in-start */

/* sign-in-end */

/* sign-up-start */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  background-image:image(ashley-sign-on);
}

h1 {
  text-align: center;
  margin-top: 30px;
}

form {
  border: 2px solid #ccc;
  background-color: #fff;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  height: 450px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: rgb(255, 0, 179) ;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

button[type="submit"]:hover {
  background-color: #23d4e8;
}
/* sign-up-end */

/* about-us-start */

/* about-us-end */
