* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* home-page-start */

.nav-bar {
  height: 100px;
  max-height: 100px;
  background-color: black;
  color: white;
  text-align: left;
  display: block;
  position: fixed;
  width: 100%;
  box-shadow:
  0 2px 9px hsl(180deg 0% 0% / 0.3);
}

.nav-logo {
  width: 100px;
}

.navbar-nav {
  display: flex;
  text-align: right;
  justify-content: flex-end;
  list-style: none;
  align-items: baseline;
}

.nav-item {
    letter-spacing: 1px;
    margin: 0 10px;
    font-size: 15px;
    text-align: right;
}

.container {
  width: 100%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.signup-btn {
  background-color: rgb(255, 0, 179);
  border-radius: 5px;
  padding: 10px 6px;
}

.nav-link {
  color: rgb(255, 255, 255);
}

section {
    padding: 100px 0;
}

#hero {
  background-image: url(/images/kenia-temp-img-1.jpg);
  background-size: cover;
  background-position: center;
  height: 550px;
}

.row {
  display: flex;
}

.hero-img {
width: 450px;
}

#hero span {
  font-size: 20px;
  text-transform: uppercase;
  
}
/* home-page-end */

/* project-section-start */

/* project-section-end */

/* testimonial-section-start */

/* testimonial-section-end */

/* project-page-start */

/* project-page-end */

/* sign-in-start */

/* sign-in-end */

/* sign-up-start */

/* sign-up-end */

/* about-us-start */

/* about-us-end */
